input {
    background-color: lightgray !important;
}

label{
    font-family: "Comic Sans MS";
}
.card-header{
    font-family: "Comic Sans MS";
}
.btn{
    font-family: "Comic Sans MS";
}
.card{
    background-color: #432e2e;background-color: rgba(0, 0, 0, 0.10)!important;
}
